.App {
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* __________________*/

body{
 background-color: #4ca2d1;
 font-family: 'Lora', serif;
}

header{
  text-align: center;
  padding: 1rem;
}

.container{
 display: grid;
 grid-template-columns: 1.3fr 1.7fr;
 height: 100vh;
 width: 100vw;
}

.poster{
  background: purple;
  height: 100%;
  background-image: url(jay2.jpg);
  background-position: center;
  background-size: cover;
}

h1{ 
  color: #ededf6;
  font-family: 'Merriweather', serif;
  font-size: 3em;
}

input{
  height: 2.6rem;
  border: 3.5px solid #ffa915;
  background: #00223e;
  color: white;
  margin: .5rem;
}

button{
  height: 2.6rem;
  width: 5rem;
  margin: 1.5rem;
  padding: .5rem;
  border-radius: 50%;
  border: none;
  box-shadow: 4px 4px 4px #201a1a;
  color: #00223e;
}

li{
  color: #ededf6;
  font-size: 1.2em;
  margin: .5rem;
}

footer{
  background: #00223e;
  color: #ededf6;
  height: 6rem;
  padding: 1.5rem;
}

@media only screen and (max-width: 600px) {
    body {
     background-color: #1c1c1d;
    }

    h1{ 
        
    }
}

@media only screen and (max-width: 400px) {

    h1{ 
      font-size: 1.7em;
    }

    .poster{
      background: purple;
      height: 100%;
      background-image: url(jay2.jpg);
      background-position:25% 75%;
      background-size: cover;
    }


}




