.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* __________________*/

body{
/* background-image: url("images/jay-z-fan-art-josh-little.jpg");
*/
 background-color: grey;
}

.container{
 display: flex;
 align-items: center;
}

.container > div {
  flex: 1;
}


h1{
  text-align: center;
  color: steelblue;
}



.Jay-art{
  height: 100%;
  width: 100%;

}

.art{
  color: white;
  font-size: 20rem;
}

li{
  color: coral;
}

footer{
  background: steelblue;
  color: white;
}


